.navbar {
  background: linear-gradient(#ff9494, #9870f5);
  margin-bottom: 10px;
}
.navbar-brand {
  color: #ffff;
  text-decoration: none;
  font-weight: bold;
  transition: 3s;
}
.nav-item a:hover {
  color: #ffff;
}
.btn {
  background-color: rgb(240, 19, 85);
  border: rgb(243, 236, 236);
  color: #ffff;
}

.button {
  display: inline-block;
  padding-right: 20px;
  margin-bottom: auto;
}
.newbtn {
  background-color: rgb(240, 19, 85);
  border: rgb(243, 236, 236);
  color: #ffff;
}
span {
  color: red;
}

.modal-header {
  background: linear-gradient(to left, #ff9494, #9870f5);
}

.modal-title {
  color: #ffff;
}
.modal-footer {
  color: #ffff;
}
.modal {
  box-shadow: 0 2px 10px rgba(231, 42, 4, 0.1);
}
.table {
  color: #ffff;
}
input {
  padding: 6px;
}
.span {
  color: red;
}
.table1 {
  background-color: #9870f5;
  color:azure
}

input[type="file"] {
  margin-top: 10px;
}
