.navbar {
  /* background: linear-gradient(#ff9494, #9870f5); */
  background-color:  #ede6e6;
  margin-bottom: 20px;
 
  box-shadow: 0 4px 6px rgba(208, 3, 3, 0.1);
}
.navbar-brand {
  color: #1b83b3;
  
  text-decoration: none;
  font-weight: bold;
  transition: 3s;
}
.nav-item a:hover {
  color: #ffff;
}
.btn {
  /* margin-left: 20%; */
  background-color: #1e8ec2;
  border: rgb(243, 236, 236);
  color: #ffff;
}

.button {
  display: inline-block;
  padding-right: 20px;
  margin-bottom: auto;
}
.newbtn {
  background-color: #1e8ec2;
  border: rgb(243, 236, 236);
  color: #ffff;
}
span {
  color: red;
}
.search{
  /* background-color: #1e8ec2; */
  color: #ffff;
  margin-right: 10px;
}

.modal-header {
  background: #1e8ec2
}

.modal-title {
  color: #ffff;
}
/* .modal-footer {
  color: #ffff;
} */
.modal {
  box-shadow: 0 2px 10px rgba(231, 42, 4, 0.1);
}
.table {
  color: #ffff;
}
input {
  padding: 6px;
}
.span {
  color: red;
}
.table1 {
  background-color:#1e8ec2;
  color: azure;
}

/* .search{
  background-color:  #ede6e6;
} */

input[type="file"] {
  margin-top: 10px;
}

.navbar-nav button {
  margin-right: 10px; /* Adjust the value as needed for the desired spacing */
}
.text {
  text-align: end;
}
.form-container {
  width: 100%;
}

.form-control {
  width: 300px;
}

.idbox {
  width: 65%;
}

.namebox {
  width: 65%;
}
.farbox {
  width: 65%;
}
.datebox {
  width: 65%;
}
.nrcbox {
  width: 65%;
}
