.navbar {
    background-color: rgb(240, 19, 85) !important;
}
/* .header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 15px 10%;
    transition: 0.2s;
} */
.logo{
    display: flex;
    align-items: top;
}
.logo-image{
    width: 40px;
    /* height: 40px; */
    /* border-radius: 50%; */
    /* overflow: hidden;  */
    /* margin-top: 1px;  */
   
} 
/* .nav-item{
    color:tomato ;
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 500;
}  */
/* .navbar-collapse{
    color: red;

} */
.navbar-nav{
    text-align: right;
}
.navbar ul{
    list-style: none;
    /* background-color: aliceblue; */
    padding: 0;
    margin: 0;
   
}
.navbar li{
    
    color: rgb(239, 238, 238)(231, 186, 186);
    text-decoration: none;
    font-weight: 500;
    font-family: 'Poppins-Bold.ttf';
    /* src: url('../assets/Poppins-Bold.ttf'); */
    transition: 3s;
}
.nav-item a{
    width: 100px;
    
    padding: 25px 20px;
    text-decoration: none;
    font-weight: 200;
    font-size: 16px;
    font-family: 'Poppins-Light.ttf';
    display: block;
    text-align: center;
    

}
.nav-item a:hover{
    color: rgb(20, 20, 20);
}
/* @font-face {
    font-family: 'Poppins-Bold.ttf';
    src: url('src/font/Poppins-Bold.ttf');
  } */