.navbar {
  background: linear-gradient(#ff9494, #9870f5);
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(208, 3, 3, 0.1);
}
.navbar-brand {
  color: #ffff;
  text-decoration: none;
  font-weight: bold;
  transition: 3s;
}
.nav-item a:hover {
  color: #ffff;
}
.navbar-nav button {
  margin-right: 10px; /* Adjust the value as needed for the desired spacing */
}
.btn {
  /* margin-left: 20%; */
  background-color: rgb(240, 19, 85);
  border: rgb(243, 236, 236);
  color: #ffff;
}

.button {
  display: inline-block;
  padding-right: 20px;
  margin-bottom: auto;
}
.newbtn {
  background-color: rgb(240, 19, 85);
  border: rgb(243, 236, 236);
  color: #ffff;
}
.table1 {
  margin-left: 5px;
  width: 13%;
  background-color: #9870f5;
  color: azure;
  border-right: 1px solid white; /* Add a white border to the right of each th */
}
.table2 {
  background-color: #9870f5;
  color: azure;

  border-right: 1px solid white; /* Add a white border to the right of each th */
}
.table3 {
  background-color: #9870f5;
  color: azure;
  width: 10%;
  border-right: 1px solid white; /* Add a white border to the right of each th */
}

/* table{
    background-color: whitesmoke;
    box-shadow: 3px 4px 6px rgba(0, 0, 0.1);
    width: 100%;
    z-index: 100;
    padding-top: 2px;
  } */
.btn-sm {
  background-color: rgb(240, 19, 85);
  border: rgb(243, 236, 236);
  color: #ffff;
}
.form-container {
  width: 100%;
}
.text {
  text-align: end;
}
.idbox {
  width: 65%;
  margin-left: 30px;

}

.namebox {
  width: 65%;
  margin-left: 30px;
}
.farbox {
  width: 65%;
  margin-left: 30px;
}
.datebox {
  width: 65%;
  margin-left: 30px;
}
.nrcbox {
  width: 65%;
  margin-left: 30px;
}
form {
  margin-left: 15px;
  width: 85%;
  padding: 20px;
}
.ml {
    /* width: 200px; */
  margin-left: 40px;
  
  }
.date{margin-left: 57px;
  width: 115%;}
  
.plus {
  background-color: #9870f5;
  color: #ffff;
  margin-left: 3px;
}
.delete-button {
  background-color: rgb(240, 19, 85);
  color: #ffff;
  border: rgb(243, 236, 236);
}
.form-select {
  margin-left: 5px;
  width: 100%;
}
/* .tbody {
  padding: 20px;
  width:100%
} */
.custom-margin-left {
  margin-left: 20px; /* Adjust the value as needed */
}