<div *ngIf="showSuccessMessage" class="alert alert-success" role="alert">
  Saved Successfully!
</div>
<div *ngIf="showErrorMessage" class="alert alert-danger" role="alert">
  Import Failed!
</div>
<div *ngIf="showGenderErrorMessage" class="alert alert-danger" role="alert">
  Import Failed!
</div>
<div *ngIf="showMarkErrorMessage" class="alert alert-danger" role="alert">
  Import Failed!
</div>
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Mark Template</a>
    <nav class="navbar bg-body-tertiary"></nav>

    <div
      class="collapse navbar-collapse d-flex justify-content-center"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <button
            type="button"
            class="btn"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="new_data(detailsForm)"
          >
            <i class="fa fa-plus" aria-hidden="true"></i>
            New
          </button>
        </li>
        <!-- /(click)="saveData(detailsForm)" -->
        <!--   (click)="createBulk()" -->
        <li class="nav-item">
          <button
            type="button"
            class="btn"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="createBulk()"
          >
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
            Save
          </button>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="btn"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="deleteAllById()"
          >
            <i class="fa fa-trash" aria-hidden="true"></i>
            Delete
          </button>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="btn"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="routeToStudent()"
          >
            <i class="fa fa-list" aria-hidden="true"></i>
            List
          </button>
        </li>
        <button
          type="button"
          class="export btn"
          data-bs="modal"
          (click)="exportToExcel(myRows, 'DetailMark')"
        >
          <i class="fa fa-share-square" aria-hidden="true"></i>

          Export
        </button>

        <button
          type="button"
          class="export btn"
          data-bs="modal"
          (click)="openFileInput()"
        >
          <input
            type="file"
            (change)="importFromExcel($event)"
            #fileInput
            style="display: none"
          /><i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
          Import
        </button>

        <!-- <button
          type="button"
          class="export btn"
          data-bs="modal"
          (click)="exportToExcel(myRows, 'DetailMark')"
        >
          <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
          Import
        </button> -->
      </ul>
    </div>
  </div>
</nav>
<div class="modal-body">
  <div class="container-fluid">
    <form #detailsForm="ngForm" class="custom-margin-left">
      <div class="mb-3">
        <td><label for="id" class="form-label">Student Id:</label></td>
        <td class="idbox ml-4">
          <input
            type="number"
            placeholder="Enter your Id"
            class="form-control ml"
            name="id"
            id="id"
            [(ngModel)]="rows.Student_id"
            disabled
            aria-describedby="emailHelp"
          />
        </td>
      </div>

      <div class="mb-3">
        <td>
          <label for="exampleInputEmail1" class="form-label">Name:</label>
        </td>
        <td class="namebox">
          <input
            type="text"
            placeholder="Enter your name"
            class="form-control ml"
            id="name"
            name="name"
            [(ngModel)]="rows.Name"
          />
        </td>
      </div>
      <div class="mb-3">
        <td>
          <label for="exampleInputPassword1" class="form-label"
            >Father Name:</label
          >
        </td>
        <td class="farbox">
          <input
            type="text"
            placeholder="Enter name"
            class="form-control ml"
            id="father_name"
            name="father_name"
            [(ngModel)]="rows.Father_Name"
          />
        </td>
      </div>
      <div class="mb-3">
        <td><label for="datepicker" class="mb-3">Date of Birth:</label></td>
        <td class="datebox">
          <input
            class="form-control date"
            type="date"
            id="datepicker"
            name="datepicker"
            [(ngModel)]="rows.Date_of_Birth"
          />
        </td>
      </div>
      <div class="mb-3">
        <td>
          <label for="gender">Gender:</label>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input gen"
              type="radio"
              name="inlineRadioOptions"
              [(ngModel)]="rows.Gender"
              id="gender"
              [value]="false"
            />
            <label class="form-check-label" for="inlineRadio1">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              [(ngModel)]="rows.Gender"
              id="gender"
              [value]="true"
            />
            <label class="form-check-label" for="inlineRadio2">Female</label>
          </div>
        </td>
      </div>
      <div class="mb-3 form-check">
        <label class="form-check-label" for="exampleCheck1">NRC Exists:</label>
        <input
          type="checkbox"
          class="form-check-input nrc"
          name="nrc_exists"
          [(ngModel)]="rows.Nrc_Exists"
          id="nrc_exists"
        />
      </div>

      <div class="mb-3">
        <td>
          <label for="exampleInputEmail1" class="form-label">NRC:</label>
        </td>
        <td class="nrcbox">
          <input
            type="text"
            placeholder="Enter your NRC"
            class="form-control ml"
            name="nrc"
            id="nrc"
            [(ngModel)]="rows.Nrc"
          />
        </td>
      </div>
    </form>

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="table1">School Year</th>
          <th class="table2">Myanmar</th>
          <th class="table2">English</th>
          <th class="table2">Mathematics</th>
          <th class="table2">Chemistry</th>
          <th class="table2">Physics</th>
          <th class="table2">Bio/Eco</th>
          <th class="table2">Total</th>
          <th class="table3">Result</th>
          <!-- <th class="table1"><i class="fa fa-plus" aria-hidden="true"></i></th> -->
          <th class="table2">
            <a (click)="plus()" type="button" class="plus" name="plus">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
          </th>
        </tr>
      </thead>
      <tbody
        *ngFor="let row of myRows; trackBy: trackByFn"
        id="tbody"
        class="tbody"
      >
        <tr>
          <td class="mt-1">
            <div class="input-group-sm">
              <select
                class="form-select"
                name="select"
                id="inputGroupSelect02"
                [(ngModel)]="row.SchoolYear"
              >
                <option *ngFor="let item of items" [value]="row.SchoolYear">
                  {{ row.SchoolYear }}
                </option>
              </select>
            </div>
          </td>
          <td class="mt-1">
            <div class="input-group-sm" for="myanmar">
              <input
                type="number"
                class="form-control"
                id="myanmar"
                name="myanmar"
                #myanmar="ngModel"
                [(ngModel)]="row.Myanmar"
                max="100"
                [ngModelOptions]="{ standalone: true }"
                [ngClass]="{ 'is-invalid': myanmar.touched && myanmar.errors }"
                required
                aria-describedby="emailHelp"
              />
            </div>
            <span
              class="span"
              *ngIf="myanmar.touched && myanmar.errors"
              class="invalid-feedback"
              >Myanmar value must be 100 or less.</span
            >
          </td>

          <td class="mt-1">
            <div class="input-group-sm">
              <input
                type="number"
                class="form-control"
                id="english"
                name="english"
                [(ngModel)]="row.English"
                #english="ngModel"
                max="100"
                [ngModelOptions]="{ standalone: true }"
                [ngClass]="{ 'is-invalid': english.touched && english.errors }"
                required
                aria-describedby="emailHelp"
              />
            </div>
            <span
              class="span"
              *ngIf="english.touched && english.errors"
              class="invalid-feedback"
              >English value must be 100 or less.</span
            >
          </td>
          <td class="mt-1">
            <div class="input-group-sm">
              <input
                type="number"
                class="form-control"
                id="mathematics"
                name="mathematics"
                [(ngModel)]="row.Mathematics"
                #mathematics="ngModel"
                max="100"
                [ngModelOptions]="{ standalone: true }"
                [ngClass]="{
                  'is-invalid': mathematics.touched && mathematics.errors
                }"
                required
                aria-describedby="emailHelp"
              />
            </div>
            <span
              class="span"
              *ngIf="mathematics.touched && mathematics.errors"
              class="invalid-feedback"
              >Mathematics value must be 100 or less.</span
            >
          </td>
          <td class="mt-1">
            <div class="input-group-sm">
              <input
                type="number"
                class="form-control"
                id="chemistry"
                name="chemistry"
                [(ngModel)]="row.Chemistry"
                #chemistry="ngModel"
                max="100"
                [ngModelOptions]="{ standalone: true }"
                [ngClass]="{
                  'is-invalid': chemistry.touched && chemistry.errors
                }"
                required
                aria-describedby="emailHelp"
              />
            </div>
            <span
              class="span"
              *ngIf="chemistry.touched && chemistry.errors"
              class="invalid-feedback"
              >Chemistry value must be 100 or less.</span
            >
          </td>
          <td class="mt-1">
            <div class="input-group-sm">
              <input
                type="number"
                class="form-control"
                id="physics"
                name="physics"
                [(ngModel)]="row.Physics"
                #physics="ngModel"
                max="100"
                [ngModelOptions]="{ standalone: true }"
                [ngClass]="{
                  'is-invalid': physics.touched && physics.errors
                }"
                required
                aria-describedby="emailHelp"
              />
            </div>
            <span
              class="span"
              *ngIf="physics.touched && physics.errors"
              class="invalid-feedback"
              >Physics value must be 100 or less.</span
            >
          </td>
          <td class="mt-1">
            <div class="input-group-sm">
              <input
                type="number"
                class="form-control"
                id="bio_eco"
                name="bio_eco"
                [(ngModel)]="row.Bio_Eco"
                #bio_eco="ngModel"
                max="100"
                [ngModelOptions]="{ standalone: true }"
                [ngClass]="{
                  'is-invalid': bio_eco.touched && bio_eco.errors
                }"
                required
                aria-describedby="emailHelp"
              />
            </div>
            <span
              class="span"
              *ngIf="bio_eco.touched && bio_eco.errors"
              class="invalid-feedback"
              >Bio_Eco value must be 100 or less.</span
            >
          </td>
          <td class="mt-1">
            <div class="input-group-sm">
              <input
                type="number"
                class="form-control"
                id="total"
                name="total"
                [(ngModel)]="row.Total"
                aria-describedby="emailHelp"
                disabled
              />
            </div>
          </td>
          <td class="mt-1">
            <div class="input-group-sm">
              <input
                type="text"
                class="form-control"
                name="result"
                id="result"
                [(ngModel)]="row.Result"
                disabled
              />
            </div>
          </td>

          <td>
            <button
              type="button"
              class="delete-button delete"
              value="delete"
              (click)="deleteMark(row.id)"
            >
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>

      <tbody *ngFor="let data of datas; let i = index" id="datas" class="datas">
        <tr>
          <td class="mt-1">
            <div class="input-group-sm">
              <select
                class="form-select"
                id="schoolyear"
                name="schoolyear"
                [(ngModel)]="data.SchoolYear"
              >
                <option *ngFor="let item of items" [value]="item">
                  {{ item }}
                </option>
              </select>
            </div>
          </td>

          <td class="mt-1">
            <div class="input-group-sm">
              <input
                type="number"
                class="form-control"
                id="myanmar"
                name="myanmar"
                [(ngModel)]="data.Myanmar"
                max="100"
                #myanmar="ngModel"
                [ngModelOptions]="{ standalone: true }"
                [ngClass]="{ 'is-invalid': myanmar.touched && myanmar.errors }"
                required
                aria-describedby="emailHelp"
              />
            </div>
            <span
              class="span"
              *ngIf="myanmar.touched && myanmar.errors"
              class="invalid-feedback"
              >Myanmar value must be 100 or less.</span
            >
          </td>
          <td class="mt-1">
            <div class="input-group-sm">
              <input
                type="number"
                class="form-control"
                id="english"
                name="english"
                [(ngModel)]="data.English"
                #english="ngModel"
                max="100"
                [ngModelOptions]="{ standalone: true }"
                [ngClass]="{ 'is-invalid': english.touched && english.errors }"
                required
                aria-describedby="emailHelp"
              />
            </div>
            <span
              class="span"
              *ngIf="english.touched && english.errors"
              class="invalid-feedback"
              >English value must be 100 or less.</span
            >
          </td>
          <td class="mt-1">
            <div class="input-group-sm">
              <input
                type="number"
                class="form-control"
                id="mathematics"
                name="mathematics"
                [(ngModel)]="data.Mathematics"
                #mathematics="ngModel"
                max="100"
                [ngModelOptions]="{ standalone: true }"
                [ngClass]="{
                  'is-invalid': mathematics.touched && mathematics.errors
                }"
                required
                aria-describedby="emailHelp"
              />
            </div>
            <span
              class="span"
              *ngIf="mathematics.touched && mathematics.errors"
              class="invalid-feedback"
              >Mathematics value must be 100 or less.</span
            >
          </td>
          <td class="mt-1">
            <div class="input-group-sm">
              <input
                type="number"
                class="form-control"
                id="chemistry"
                name="chemistry"
                [(ngModel)]="data.Chemistry"
                #chemistry="ngModel"
                max="100"
                [ngModelOptions]="{ standalone: true }"
                [ngClass]="{
                  'is-invalid': chemistry.touched && chemistry.errors
                }"
                required
                aria-describedby="emailHelp"
              />
            </div>
            <span
              class="span"
              *ngIf="chemistry.touched && chemistry.errors"
              class="invalid-feedback"
              >Chemistry value must be 100 or less.</span
            >
          </td>
          <td class="mt-1">
            <div class="input-group-sm">
              <input
                type="number"
                class="form-control"
                id="physics"
                name="physics"
                [(ngModel)]="data.Physics"
                #physics="ngModel"
                max="100"
                [ngModelOptions]="{ standalone: true }"
                [ngClass]="{
                  'is-invalid': physics.touched && physics.errors
                }"
                required
                aria-describedby="emailHelp"
              />
            </div>
            <span
              class="span"
              *ngIf="physics.touched && physics.errors"
              class="invalid-feedback"
              >Physics value must be 100 or less.</span
            >
          </td>
          <td class="mt-1">
            <div class="input-group-sm">
              <input
                type="number"
                class="form-control"
                id="bio_eco"
                name="bio_eco"
                [(ngModel)]="data.Bio_Eco"
                #bio_eco="ngModel"
                max="100"
                [ngModelOptions]="{ standalone: true }"
                [ngClass]="{
                  'is-invalid': bio_eco.touched && bio_eco.errors
                }"
                required
                aria-describedby="emailHelp"
              />
            </div>
            <span
              class="span"
              *ngIf="bio_eco.touched && bio_eco.errors"
              class="invalid-feedback"
              >Bio_Eco value must be 100 or less.</span
            >
          </td>
          <td class="mt-1">
            <div class="input-group-sm">
              <input
                type="number"
                class="form-control"
                id="total"
                name="total"
                [(ngModel)]="data.totalMarks"
                aria-describedby="emailHelp"
                disabled
              />
            </div>
          </td>
          <td class="mt-1">
            <div class="input-group-sm">
              <input
                type="text"
                class="form-control"
                name="result"
                id="result"
                [(ngModel)]="data.Result"
                disabled
              />
            </div>
          </td>
          <!-- <td class="modal" tabindex="-1" id="delete">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Delete</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  ata-bs-target="#exampleModal1"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <p>Are you sure want to delete?</p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="button"
                  value="delete"
                  class="btn btn danger"
                  data-bs-dismiss="modal"
                  (click)="deleteRow()"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </td> -->
          <td>
            <button
              type="button"
              class="delete-button"
              value="delete"
              (click)="deleteRow(i)"
            >
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
